{
    "router": {
        "username": null,
        "password": null
    },
    "cloudflare": {
        "zone_identifier": null,
        "identifier": null,
        "name": null,
        "bearer": null
    }
}
